.home-component {
    background-image: url("../../assets/333.png");
    background-size: cover; /* Ensures the entire image is visible */
    background-position: center center; /* Centers the image both horizontally and vertically */
    background-repeat: no-repeat; /* Prevents repeating */
    width: 100%;
    height: 100vh; /* Takes up the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-component{
    padding-top: 100px;
}

